body {
border: solid 1px red;
}
/* -------------------------- header start -------------------------- */


#topNavBar {
padding: 0 0;
margin: 0 0;
}
#logoBig {
float: left;
padding: 5px 15px 0  5px ;
}

#myName {
color: white;
padding: 5px 5px 0  10px ;
}
#siteName {
width: 180px;
float: left;
}


#mainHeader {
padding: 10px 25px 0 50px;
height: 250px;
background-image: url("../images/green_green.jpg");
}

#mainHeader p{
font-size:21px;
font-weight:200;
}

#contactMe div p{
font-weight: bold;
color: #DDBBAA;
padding-top: 5px;
padding-left: 5px;
}

#contactMe div{
    position: absolute;
    right: 0px;
    width: 100px;
height: 30px;  
}

#contactMe{
height: 30px;  
align: right;
margin-top: 50px;
background-color: #025D79;
}

#contactLink:link{
color: #C9C9B0;
text-decoration: none;
}

#contactLink:visited{
color: #C9C9B0;
text-decoration: none;
}

#contactLink:hover{
color: #DEEA2E;
text-decoration: none;
}

#bannerTitle{
color: #333333;
font-size:63px;
font-weight:200;
}

#breadcrums {
padding: 0 0;

}

/* -------------------------- header end -------------------------- */


/*--------------------- footer start --------------------------- */

#preFooter {
background-color: #3D494C  ; /*#025D79;*/
height: 50px;
}

#footerSiteMap{
padding-top: 3px;
color: #01824A;
background-color: #012D3A; /*#013C2C;*/
height: 150px;
}

#SiteMapContainer {
 margin-left: auto;
    margin-right: auto;
width: 70%;
}

#SiteMapContainer div{
padding: 5px;
width: 20%;
b order: solid 1px red;
float: left;
}

.SiteMapSubTitle {
font-size: smaller;
}

#footer{
color: #CCCCCC;
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
background-color: #2B2B2B  ;/*#005566;*/
height: 30px;
}

#copyrightStatement   {
    position: absolute;
    right: 0px;
    width: 200px;
    }

#stayConnected {
margin-left: auto;
marging-right: auto;
width: 70%;
}


.footerM:link{
color: #01824A;
}

.footerM:visited{
color: #028D64;
text-decoration: none;
}

.footerM:hover{
color: #FFF1D6;
text-decoration: none;
}

/*--------------------- footer end --------------------------- */


#businessCard {
padding-left: 5%;
}